<nav class="app-nav">

  <span class="nav-item logo">
    <img src="assets/logo-alt.png" alt="Simple Quality UI" class="logo">
  </span>

  <div class="display-flex space-between nav-items">
    <div class="github">
      <span class="gh-btn">
        <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui" data-size="large" data-show-count="true" aria-label="Star sq-ui/ng-sq-ui on GitHub">Star</a>
      </span>
      <span class="gh-btn">
        <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui/issues" data-size="large" data-show-count="true" aria-label="Issue sq-ui/ng-sq-ui on GitHub">Issue</a>
      </span>
      <span class="gh-btn">
        <a class="github-button" href="https://github.com/sq-ui/ng-sq-ui/subscription" data-size="large" data-show-count="true" aria-label="Watch sq-ui/ng-sq-ui on GitHub">Watch</a>
      </span>
    </div>
  </div>
</nav>
